* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: whitesmoke;
}

h2 {
  text-align: center;
}

#word-container {
  font-size: 1.8em;
  text-align: center;
  margin: 20px 0;
}

.keyboard-button {
  background-color: #333;
  border: 2px solid whitesmoke;
  color: #f0f0f0;
  font-size: 1.2em;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.keyboard-button:hover {
  background-color: whitesmoke;
  color: #1a1a1a;
  transform: scale(1.1);
}

.keyboard-button:disabled {
  background-color: #555;
  border: 2px solid #666;
  color: #888;
}

#lives {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
}

#letters-guessed {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
}

#hangmanCanvas {
  border: 2px solid whitesmoke;
  background-color: #333;
  display: block;
  margin: 0 auto;
}

#keyboard-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 20px auto;
}

#game-info {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

#current-category,
#correct-phrases-count {
  font-size: 1.2em;
}

#game-controls {
  text-align: center;
  margin: 20px 0;
}

#hint-button,
#reset-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#hint-button:hover,
#reset-button:hover {
  background-color: #666;
}

button {
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #ccc;
}

#hint-message {
  text-align: center;
  font-size: 1.5rem;
}