* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --width: 40vw;
  --height: 24vw;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ccccf1;
  overflow: hidden;
}

.puzzle-wrapper {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
}

.cells,
.puzzle {
  width: var(--width);
  height: var(--height);
  border: 0.1rem dashed #fff;
  background-color: #bdbdf0;
  display: grid;
  grid-template-columns: repeat(5, calc(var(--width) / 5));
  grid-template-rows: repeat(4, calc(var(--height) / 4));
  position: relative;
}

.cells div,
.puzzle div {
  border-right: 0.1rem dashed #fff;
  border-bottom: 0.1rem dashed #fff;
}

.puzzle div {
  transition: background-color 0.3s;
}

.puzzle div.active {
  background-color: #9898ec;
}

.puzzle div div {
  width: 100%;
  height: 100%;
  background-size: var(--width) var(--height);
  background-repeat: no-repeat;
  animation: dropAnim 0.5s forwards;
}

@keyframes dropAnim {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.cells div {
  background-size: var(--width) var(--height);
  background-repeat: no-repeat;
  position: absolute;
  width: calc(var(--width) / 5);
  height: calc(var(--height) / 4);
  cursor: grab;
}

.final-img {
  width: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: none;
}

.btns {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 2rem;
  opacity: 1;
  transition: opacity 0.3s;
}


#input-file {
  display: none;
}

.btn {
  background-color: rgba(109, 161, 240, 0.588);
  box-sizing: content-box;
  padding: 1rem;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  border: 0.1rem solid #fff;
  width: max-content;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(109, 161, 240, 0.808);
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(44, 42, 42, 0.718);
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 40rem;
  aspect-ratio: 1;
  background-color: #ccccf1;
  color: #333;
  border-radius: 1rem;
}

.modal-heading {
  font-size: 4rem;
}

.modal-text {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.modal-btn {
  margin-top: 2rem;
}

.attempt {
  display: inline-block;
  margin-inline: 0.5rem;
  font-size: 4rem;
  color: #daa520;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9898ec;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
}

.loader.active {
  visibility: visible;
  opacity: 1;
}

.loader img {
  width: 10rem;
}

.heading {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  color: rgba(51, 51, 51, 0.365);
  text-transform: uppercase;
}